<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    <div class="header">

    </div>
    <div class="body">
        <div class="progress"></div>
        <ul>
            <li>sss</li>
            <li>sss</li>
            <li>sss</li>
            <li>sss</li>
            <li>
                <i class="iconfont icon-jinggao i1"></i>
            </li>
        </ul>
    </div>
    <div>
        <button class="test-btn">test</button>
    </div>
</body>
</html>