<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>one</title>
    <link rel="stylesheet" href="../../libs/layui/css/layui.css">
</head>
<body>
    <!--shengbei-->
    <header style="background-color: red;">头部</header>
    <main style="background-color: black; position: relative; padding: 0 100px 0 90px;overflow: hidden">
        <section style="background-color: green; height: 100px; float: left; width: 100%;">主要内容</section>
        <aside style="background-color: yellow; height: 100px; float: left; width: 90px; margin-left: -100%; position: relative; left: -90px;">左边栏</aside>
        <aside style="background-color: yellow; height: 100px; float: left; width: 100px; margin-left: -100px; position: relative; right: -100px;">右边栏</aside>
    </main>
    <footer style="background-color: blue; clear: left;">尾部</footer>

    <!--shuangfeiyi-->
    <header style="background-color: red;">头部</header>
    <main style="background-color: black; position: relative;">
        <div style="float: left; width: 100%;">
            <section style="background-color: green; height: 100px;  margin: 0 100px 0 90px;">主要内容</section>
        </div>
        <aside style="background-color: yellow; height: 100px; float: left; width: 90px; margin-left: -100%;">左边栏</aside>
        <aside style="background-color: yellow; height: 100px; float: left; width: 100px; margin-left: -100px;">右边栏</aside>
    </main>
    <footer style="background-color: blue; clear: left;">尾部</footer>

    <script src="../../libs/layui/layui.js"></script>
</body>
</html>