<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="gg-slider">
        <ul class="gg-slides" style="left: 0">
            <!--<li><img src="../../static/images/slide/five.jpg"><span>5</span></li>-->
            <li><img src="../../static/images/slide/one.jpg"><span>1</span></li>
            <li><img src="../../static/images/slide/two.jpg"><span>2</span></li>
            <li><img src="../../static/images/slide/three.jpg"><span>3</span></li>
            <li><img src="../../static/images/slide/four.jpg"><span>4</span></li>
            <li><img src="../../static/images/slide/five.jpg"><span>5</span></li>
            <!--<li><img src="../../static/images/slide/one.jpg"><span>1</span></li>-->
        </ul>
        <ul class="gg-dot">
            <li><a data-index="1" class="active" href="javascript:;"></a></li>
            <li><a data-index="2" href="javascript:;"></a></li>
            <li><a data-index="3" href="javascript:;"></a></li>
            <li><a data-index="4" href="javascript:;"></a></li>
            <li><a data-index="5" href="javascript:;"></a></li>
        </ul>
        <a class="slide-pre arrow" href="javascript:;">&lt;</a>
        <a class="slide-next arrow" href="javascript:;">&gt;</a>
    </div>
</body>
</html>