<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="gg-slider">
        <ul class="gg-slides">
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
        <ul class="gg-dot">
            <li><a href="javascript:;"></a></li>
            <li><a href="javascript:;"></a></li>
            <li><a href="javascript:;"></a></li>
        </ul>
        <a class="slide-pre arrow" href="javascript:;">&lt;</a>
        <a class="slide-next arrow" href="javascript:;">&gt;</a>
    </div>
</body>
</html>