.gg-slider{
  &:hover{
    .arrow{
      display: block;
    }
  }
  position: relative;
  top: 10px;
  left: 100px;
  width: 500px;
  height: 300px;
  border: 1px solid #eee;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius:8px;
  .gg-slides{
    font-size: 0;
    width: 2500px;
    position: absolute;
    top: 0;
     li{
       position: relative;
       font-size: 30px;
       display: inline-block;
       width:500px;
       height: 300px;
       img{
         width: 100%;
         height: 100%;
       }
       span{
         position: absolute;
         width: 40px;
         height: 40px;
         text-align: center;
         line-height: 40px;
         color: #fff;
         display: inline-block;
         top: 10px;
         left: 10px;
         border-radius: 50%;
         background: rgba(0,0,0,.4)
       }
     }
  }
  .gg-dot{
    width: 100%;
    position: absolute;
    bottom:0;
    text-align: center;
    z-index: 99;
    li{
      margin: 0 6px;
      display: inline-block;
      a{
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #000;
      }
    }
    .active{
      background: blue;
    }
  }
  .arrow{
    display: none;
    position: absolute;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    padding: 5px;
    background: rgba(0,0,0,.4);
    color: #fff;
    top: 50%;
    margin-top: -17px;
    font-size: 20px;
  }
  .slide-pre{
    left: 10px;
  }
  .slide-next{
    right: 10px;
  }
}