<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../libs/amazeUI/css/amazeui.min.css">
    <!--<link rel="stylesheet" href="slider.css">-->
</head>
<body>

<div class="slider-shade">
    <div class="dzjkxq-box">
        <div class="dzjkxq-header">
            <div class="header-img">
                <div class="header-text">
                    <ul>
                        <li style="font-size: 16px">电子缴款凭证查询</li>
                        <li>
                            <span>打印日期：</span>
                            <span>2017-12-08</span>
                        </li>
                        <li>
                            <span>税务机关：</span>
                            <span>成都武侯区国家税务机关</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dzjkxq-body">
            <div class="body-desc">
                <ul>
                    <li>
                        <span class="color-gray">纳税人识别号</span>
                        <span class="fr color-blue">91510000665394315L</span>
                    </li>
                    <li>
                        <span class="color-gray">纳税人名称</span>
                        <span class="fr color-blue">四川世纪中税软件系统有限公司</span>
                    </li>
                </ul>
            </div>
            <hr class="hr-style">
            <div class="am-slider am-slider-default" data-am-flexslider>
                <ul class="am-slides">
                    <li>
                        <ul class="slider-item">
                            <li>
                                <span class="color-gray">电子税票号</span>
                                <span class="fr color-black">NO20171124394884747</span>
                            </li>
                            <li>
                                <span class="color-gray">税种</span>
                                <span class="fr color-black">企业所得税</span>
                            </li>
                            <li>
                                <span class="color-gray">品目名称</span>
                                <span class="fr color-black">茶叶</span>
                            </li>
                            <li>
                                <span class="color-gray">税款所属期</span>
                                <span class="fr color-black">2017-10-14</span>
                            </li>
                            <li>
                                <span class="color-gray">入（退）库日期</span>
                                <span class="fr color-black">2017-11-11</span>
                            </li>
                            <li>
                                <span class="color-gray">实缴（退）金额</span>
                                <span class="fr color-black">335500.7</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul  class="slider-item">
                            <li>
                                <span class="color-gray">电子税票号</span>
                                <span class="fr color-black">NO20171124394884747</span>
                            </li>
                            <li>
                                <span class="color-gray">税种</span>
                                <span class="fr color-black">企业所得税</span>
                            </li>
                            <li>
                                <span class="color-gray">品目名称</span>
                                <span class="fr color-black">茶叶</span>
                            </li>
                            <li>
                                <span class="color-gray">税款所属期</span>
                                <span class="fr color-black">2017-10-14</span>
                            </li>
                            <li>
                                <span class="color-gray">入（退）库日期</span>
                                <span class="fr color-black">2017-11-11</span>
                            </li>
                            <li>
                                <span class="color-gray">实缴（退）金额</span>
                                <span class="fr color-black">335500.7</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <hr class="hr-style">
        </div>
        <div class="dzjkxq-footer">
            <div>
                <span class="color-gray">合计金额</span>
            </div>
            <div>
                <span class="dzjkxq-count color-black">叁仟柒佰捌拾万元整</span>
            </div>
        </div>
    </div>
</div>
<!--<script src="../../libs/jquery/jquery-1.12.4.js"></script>-->
<!--<script src="./layui/layui.js"></script>-->
<!--<script src="../../libs/amazeUI/js/amazeui.min.js"></script>-->
<script>

</script>
</body>
</html>