<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>one</title>
    <link rel="stylesheet" href="../../libs/layui/css/layui.css">
</head>
<body>
    <div class="box">
        <div class="child"></div>
    </div>

    <!--负margin-->
    <div class="father">
        <div class="son"></div>
    </div>

    <table>
        <colgroup span="2" align="left"></colgroup>
        <colgroup align="right"></colgroup>
        <thead>
            <tr>
                <td>12341</td>
                <td>1123</td>
                <td>1sdf</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>er2</td>
                <td>fghj2</td>
                <td>fghj2</td>
            </tr>
            <tr>
                <td>dfghj2</td>
                <td>fgh2</td>
                <td>2vbk</td>
            </tr>
        </tbody>
    </table>

    <script src="../../libs/layui/layui.js"></script>
</body>
</html>