<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404页面</title>
</head>
<body>
<div class="Page clearfix">
    <div class="er404">
        <div class="tc">
            <div><img src="../../static/images/error/e2.png"></div>
            <div class="f20 c6"> 抱歉呀！找不到页面咯！</div>
        </div>
        <div class="mt50"><img src="../../static/images/error/404.png"></div>
        <!-- <div class="Return-home mt50">
            <button class="buttonpointer" onclick="javascript:window.location='/index.html';"> 返回首页</button>
        </div> -->
    </div>
</div>
</body>
</html>